.navList {
  display: flex;
  gap: 60px;
}

.nav {
  margin-right: auto;
}

.navLink {
  color: var(--main-blue);
  text-decoration: none;
}

.headerNavWrapper {
  display: flex;
  align-items: center;
}

.headerWrapper {
  min-height: 155px;
  padding-top: 16px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5662640056022409) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.logo {
  margin-right: 145px;
}

.home {
  width: 100%;
  position: absolute;
}
