.time {
  display: flex;
  gap: 26px;
}

.contactMapWrapper {
  display: flex;
  padding-left: 70px;
}

.servicesDescr {
  margin-bottom: 60px;
}

.contactMapItem {
  margin-bottom: 70px;
}

.contactsHeading {
  margin-bottom: 30px;
}
