.time {
  display: flex;
  gap: 26px;
}

.contactMapWrapper {
  padding-left: 70px;
}

.servicesDescr {
  margin-bottom: 60px;
}

.contactMapItemWrapper {
  margin-bottom: 70px;
}

.contactMapItem {
  max-width: 364px;
  width: 100%;
}

.contactsHeading {
  position: relative;
  margin-bottom: 30px;
}

.contactsItem a {
  color: var(--main-blue);
}

.mapItemList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactMapItem:not(:last-child) {
  margin-bottom: 50px;
}

.section {
  padding-left: 13%;
}

.contactsTitle:has(.title) {
  padding-left: 400px;
}

.contactsAddressItem a {
  max-width: 200px;
}

.contactsJapanAddressItem a {
  max-width: 320px;
}

.russiaHeadingPic::before,
.japanHeadingPic::before {
  content: '';
  left: -70px;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
}

.russiaHeadingPic::before {
  background-image: url('../../../public/images/countries/russia.png');
}

.japanHeadingPic::before {
  background-image: url('../../../public/images/countries/japan.png');
}

.contactsMapItemBlock {
  display: flex;
  justify-content: space-between;
}

.miraiJPMap {
  flex-basis: 62%;
  height: 400px;
}

.miraiRUMap {
  flex-basis: 62%;
}

@media (max-width: 1100px) {
  .section {
    padding-left: 20px;
  }
}

@media (max-width: 680px) {
  .section {
    padding-left: 20px;
  }

  .servicesDescr {
    margin-bottom: 40px;
  }

  .contactMapWrapper {
    padding-left: 44px;
  }

  .contactMapItemWrapper {
    margin-bottom: 44px;
  }

  .russiaHeadingPic::before,
  .japanHeadingPic::before {
    height: 20px;
    width: 28px;
    left: -40px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .russiaHeadingPic::before {
    background-image: url('../../../public/images/countries/contacts-russia.png');
  }

  .japanHeadingPic::before {
    background-image: url('../../../public/images/countries/contacts-japan.png');
  }

  .timeBlock p {
    font-size: 14px;
    line-height: 140%;
  }

  .clockPic {
    width: 20px;
    height: 20px;
  }

  .time {
    gap: 16px;
  }

  .contactMapItem .contactsHeading {
    margin-bottom: 24px;
  }

  .contactsMapItemBlock {
    flex-direction: column;
    gap: 32px;
  }

  .miraiJPMap,
  .miraiRUMap {
    height: 200px;
    flex-basis: auto;
    margin-left: -44px;
  }

  .contactsJapanAddressItem img {
    height: 28px;
  }
}
