.mobDescr {
  display: none;
}

.titleWrapper {
  margin-bottom: 0;
}
@media (max-width: 680px) {
  .mobDescr {
    display: block;
    margin-bottom: 32px;
  }

  .searchWrapper {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .trackingTitle + img {
    display: none;
  }
}
