.pricesListWrapper {
  width: 100%;
  padding: 0px 30px 50px 30px;
  margin-bottom: 70px;
  background-color: var(--white);
}

.pricesList {
  max-width: 1034px;
  width: 100%;
  margin: 0 auto;
}

.textRow {
  display: flex;
}

.textPart {
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--main-blue);
  flex-basis: 50%;
  padding: 30px;
}

.textPartHeading {
  font-weight: 600;
  padding: 0 30px;
  font-size: 20px;
  line-height: 140%;
  color: var(--light-blue-sec);
  margin-bottom: 10px;
}

.textRowValues {
  display: flex;
  border-bottom: 2px solid #cfcfcf;
}

.listNote {
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey);
}

.listHeading {
  max-width: 487px;
  margin-bottom: 50px;
  margin-left: 30px;
  padding-top: 40px;
  border-top: 6px solid var(--light-blue-sec);
}

@media (max-width: 680px) {
  .pricesListWrapper {
    padding: 0px 20px 30px 20px;
    margin-bottom: 40px;
  }

  .textPart {
    padding: 16px 0px;
    font-size: 12px;
    line-height: 120%;
  }

  .textPartHeading {
    font-size: 12px;
    line-height: 140%;
    padding: 0;
  }

  .listNote {
    padding: 16px 0 0 0;
    font-size: 12px;
    line-height: 120%;
  }

  .textRowValues,
  .textRow {
    gap: 20px;
  }

  .listHeading {
    margin-left: 0;
    padding-top: 24px;
  }
}
