.title {
  display: flex;
  justify-content: space-between;
  padding-left: 505px;
  margin-bottom: 70px;
  font-family: var(--font-three);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-blue);
}

.servicesHeading {
  padding-left: 200px;
}

.variantOne {
  background-image: url('../../public/images/lines/variant-one.png');
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 10px;
}

.variantTwo {
  background-image: url('../../public/images/lines/variant-two.png');
  background-repeat: no-repeat;
  background-position-x: 730px;
  background-position-y: 10px;
}

.variantThree {
  background-image: url('../../public/images/lines/variant-three.png');
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 10px;
}

.variantFour {
  background-image: url('../../public/images/lines/variant-four.png');
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 10px;
}

.variantFive {
  background-image: url('../../public/images/lines/variant-five.png');
  background-repeat: no-repeat;
  background-position-x: 700px;
  background-position-y: 10px;
}

.variantSix {
  background-image: url('../../public/images/lines/variant-six.png');
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 10px;
}

.decor {
  font-family: var(--font-five);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: right;
  color: var(--light-blue);
}
