.title {
  padding-left: 505px;
  margin-bottom: 60px;
  font-family: var(--font-three);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-blue);
}

.servicesHeading {
  padding-left: 200px;
}

.variantOne {
  background-image: url('../../public/images/lines/variant-one.png');
  background-repeat: no-repeat;
  background-position-x: 240px;
}
