.adressItem {
  margin-bottom: 30px;
}

.adressItemTitle {
  width: fit-content;
  margin-bottom: 10px;
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--main-blue);
  cursor: pointer;
  border-bottom: 2px solid var(--lightest-blue);
  transition: all 0.3s ease-in-out;
}

.adressItemTitle:hover {
  border-bottom: 2px solid var(--main-blue);
}

.adressItemText {
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--grey);
}

.active {
  border-bottom: 2px solid var(--main-blue);
}
