.adressItem {
  position: relative;
  margin-bottom: 30px;
}

.adressItemTitle {
  width: fit-content;
  margin-bottom: 10px;
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--main-blue);
  cursor: pointer;
  border-bottom: 2px solid var(--lightest-blue);
  transition: all 0.3s ease-in-out;
}

.adressItemTitle:hover {
  color: var(--light-blue-sec);
  border-bottom: 2px solid var(--light-blue-sec);
}

.adressItemText {
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--grey);
}

.active {
  border-bottom: 2px solid var(--light-blue-sec);
  color: var(--light-blue-sec);
}

.adressItem {
  margin-bottom: 20px;
  padding-left: 70px;
}

.adressItem::before {
  content: url('../../public/images/icons/map-mark.png');
  position: absolute;
  left: 0;
}

@media (max-width: 950px) {
  .adressItem {
    padding-left: 50px;
  }
}

@media (max-width: 850px) {
  .adressItem {
    padding-left: 0px;
  }

  .adressItem::before {
    display: none;
  }
}

@media (max-width: 680px) {
  .adressItemTitle {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 5px;
  }

  .adressItemText {
    font-size: 14px;
    line-height: 120%;
  }

  .adressItem {
    padding-left: 50px;
  }

  .adressItem::before {
    display: block;
  }
}
