.adressItem {
  margin-bottom: 30px;
}

.adressItemTitle {
  margin-bottom: 10px;
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--main-blue);
}

.adressItemText {
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--grey);
}
