.promo {
  background-image: url('../../public/images/sea.png');
  min-height: 950px;
  overflow: hidden;
}

.wrapper {
  margin-bottom: 130px;
}

.home {
  position: absolute;
}

.promoSection {
  padding-top: 400px;
}

.promoHeading {
  max-width: 620px;
  margin: 0 auto;
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}

.hierography {
  position: relative;
  top: 220px;
  font-family: var(--font-five);
  font-weight: 400;
  font-size: 200px;
  line-height: 130%;
  letter-spacing: -0.2em;
  text-transform: uppercase;
  color: var(--lightest-blue);
}

.aboutDescrWrapper {
  max-width: 356px;
  display: flex;
  align-items: flex-end;
}

.aboutCards {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.aboutContent {
  display: flex;
}

.servicesContent {
  min-height: 468px;
  display: flex;
  gap: 30px;
}

.servicesImg,
.servicesList {
  flex-basis: 50%;
}

.servicesImg {
  background-image: url('../../public/images/employee.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
