.promo {
  min-height: 950px;
  overflow: hidden;
  background-image: url('../../public/images/sea.png');
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  margin-bottom: 130px;
}

.home {
  position: absolute;
}

.promoSection {
  padding-top: 400px;
}

.promoHeading {
  max-width: 620px;
  margin: 0 auto;
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
  animation: fadeInRightShorter 2s;
}

.hierography {
  position: relative;
  top: 220px;
  font-family: var(--font-five);
  font-weight: 400;
  font-size: 200px;
  line-height: 130%;
  letter-spacing: -0.2em;
  text-transform: uppercase;
  color: var(--lightest-blue);
  animation: fadeInTopShorter 2s;
}

.aboutDescrWrapper {
  max-width: 356px;
  display: flex;
  align-items: flex-end;
}

.aboutCards {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.aboutContent {
  display: flex;
}

.servicesContent {
  min-height: 468px;
  display: flex;
  gap: 30px;
}

.servicesImg,
.servicesList {
  flex-basis: 50%;
}

.servicesImg {
  background-image: url('../../public/images/employee.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1680px) {
  .promo {
    background-position-y: -50px;
    min-height: 900px;
  }

  .hierography {
    top: 190px;
    line-height: 106%;
  }
}

@media (max-width: 1300px) {
  .aboutContent {
    flex-direction: column;
  }

  .aboutDescrWrapper {
    max-width: 570px;
    margin-bottom: 24px;
  }

  .aboutCards {
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .promoSection {
    padding-top: 405px;
  }

  .hierography {
    top: 150px;
    line-height: 100%;
    font-size: 160px;
  }

  .promo {
    min-height: 820px;
    background-position-y: -90px;
  }

  .servicesList {
    flex-basis: 40%;
  }

  .servicesImg {
    flex-basis: 60%;
  }

  .wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 800px) {
  .promoSection {
    padding-top: 380px;
  }

  .hierography {
    top: 150px;
    line-height: 100%;
    font-size: 140px;
  }

  .promo {
    min-height: 775px;
    background-position-y: -140px;
  }
}

@media (max-width: 680px) {
  .servicesDescr {
    margin-bottom: 24px;
  }
  .promoSection {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    margin-bottom: 0;
  }

  .promoHeading {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: auto;
  }

  .hierography {
    top: 10px;
    bottom: 0;
    line-height: 100%;
    font-size: 80px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .promo {
    min-height: 300px;
    background-image: url('../../public/images/sea-mob.png');
    background-size: cover;
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
  }

  .wrapper {
    margin-bottom: 80px;
  }

  .aboutCards {
    flex-direction: column;
    gap: 20px;
  }

  .aboutDescrWrapper {
    margin-bottom: 38px;
  }

  .servicesContent {
    flex-direction: column;
    gap: 24px;
  }

  .servicesImg {
    height: 200px;
    flex-basis: auto;
  }
}

@keyframes fadeInRightShorter {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInTopShorter {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
