.footer {
  background: var(--main-blue);
  background-image: url('../../public/images/lines/footer-one.png'),
    url('../../public/images/lines/footer-two.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top left;
}

.footerWrapper {
  padding: 60px 0;
  display: flex;
}

.navLink {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.navList {
  padding-top: 5px;
}

.navList li:not(:last-child) {
  margin-bottom: 24px;
}

.contactWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.workTime {
  color: var(--white);
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.workTime li {
  margin-bottom: 3px;
}

.contactsList {
  display: flex;
  gap: 160px;
}

.footerListsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerBottom {
  padding: 50px 0px;
  border-top: 1px solid #1853b2;
  font-size: 0;
}

.footerBottomText {
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
}
