.footer {
  background: var(--main-blue);
  background-image: url('../../public/images/lines/footer-one.png'),
    url('../../public/images/lines/footer-two.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top left;
}

.footer .footerWrapper {
  padding: 60px 20px;
  margin-bottom: 0;
}

.footer .footerBottomWrapper {
  margin-bottom: 0;
}

.navLink {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.navList {
  padding-top: 5px;
}

.navList li:not(:last-child) {
  margin-bottom: 24px;
}

.contactWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footerLogo {
  display: none;
}

.workTime {
  color: var(--white);
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.workTime li {
  margin-bottom: 3px;
}

.contactsList {
  display: flex;
  gap: 160px;
}

.footerListsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerBottom {
  padding: 50px 0px;
  border-top: 1px solid #1853b2;
  font-size: 0;
}

.footerBottomText {
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
}

@media (max-width: 1230px) {
  .contactsList {
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .footerLogo {
    display: block;
    margin: 0 auto 40px;
  }

  .footerListsWrapper {
    flex-direction: column;
  }

  .navList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 52px;
    justify-content: center;
  }
}

@media (max-width: 880px) {
  .navList li:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (max-width: 680px) {
  .footer .footerWrapper {
    padding: 32px 20px;
  }

  .contactsList {
    gap: 52px;
    justify-content: flex-start;
  }

  .footer {
    background-image: none;
  }

  .navLink {
    font-size: 16px;
  }

  .navList li:not(:last-child) {
    margin-bottom: 0;
  }

  .workTimeMain {
    display: flex;
    gap: 8px;
  }

  .worktimeText {
    font-size: 14px;
  }

  .workTimeIng {
    width: 16px;
    height: 16px;
  }

  .footerBottom {
    padding: 24px 0;
  }
}
