.contact {
  display: flex;
  align-items: center;
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--white);
}

.contactWrapper {
  display: flex;
  align-items: start;
  gap: 20px;
}

@media (max-width: 850px) {
  .contact {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .contact {
    font-size: 14px;
  }

  .img {
    width: 16px;
    height: 16px;
  }
}
