.aboutWrapper {
  display: flex;
  gap: 30px;
}

.aboutText {
  flex-basis: 50%;
  font-family: var(--font-one);
}

.aboutImg {
  flex-basis: 50%;
  background-image: url('../../../public/images/container.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutBoldText {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--main-blue);
  margin-bottom: 30px;
}

.aboutThinText {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--main-blue);
}

.aboutThinText:not(:last-child) {
  margin-bottom: 30px;
}

.aboutThinTextWithIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.warehouseDescr {
  max-width: 873px;
  margin-bottom: 70px;
}

.addressList {
  flex-basis: 30%;
}

.warehouseContent {
  display: flex;
  min-height: 200px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.map {
  flex-basis: 50%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.addressItemTop {
  margin-bottom: 20px;
}

.decorImg {
  display: none;
}

@media (max-width: 1100px) {
  .aboutImg {
    display: none;
  }

  .aboutText {
    flex-basis: 100%;
  }
}

@media (max-width: 800px) {
  .aboutImg {
    display: block;
    height: 300px;
    flex-basis: auto;
    background-size: 100%;
    background-position: center;
  }

  .aboutWrapper {
    flex-direction: column;
    gap: 0;
  }

  .decorImg {
    margin-left: auto;
    display: block;
    height: 26px;
    width: 120px;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  .aboutText {
    margin-bottom: 32px;
  }
}

@media (max-width: 680px) {
  .aboutBoldText {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .aboutThinText {
    font-size: 14px;
    line-height: 140%;
  }

  .warehouseDescr {
    margin-bottom: 32px;
  }

  .warehouseContent {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .addressItemTop {
    margin-bottom: 8px;
  }

  .map {
    flex-basis: auto;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .aboutImg {
    height: 214px;
    background-size: 100%;
    background-position: center;
    margin: 0 -20px;
  }
}

@media (max-width: 400px) {
  .decorImg {
    height: 19px;
    width: 100px;
  }
}
