.aboutWrapper {
  display: flex;
  gap: 30px;
}

.aboutText {
  flex-basis: 50%;
  font-family: var(--font-one);
}

.aboutImg {
  flex-basis: 50%;
  background-image: url('../../../public/images/container.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBoldText {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--main-blue);
  margin-bottom: 30px;
}

.aboutThinText {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--main-blue);
  margin-bottom: 30px;
}

.aboutThinTextWithIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stocksDescr {
  max-width: 873px;
  margin-bottom: 70px;
}

.addressList {
  flex-basis: 30%;
}

.stockContent {
  display: flex;
  min-height: 200px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.map {
  flex-basis: 50%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.addressItemTop {
  margin-bottom: 20px;
}
