.stocksDescr {
  max-width: 873px;
  margin-bottom: 70px;
}

.addressList {
  flex-basis: 30%;
}

.stockContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.map {
  flex-basis: 50%;
}
