.description {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
}

.large {
  font-size: 25;
}

.medium {
  font-size: 20;
}

.small {
  font-size: 18;
}

@media (max-width: 680px) {
  .description {
    font-size: 14px;
  }
}
