.servicesDescr {
  max-width: 702px;
  font-size: 20px;
}

.servicesContent {
  min-height: 500px;
  display: flex;
  gap: 70px;
}

.servicesTextContent,
.servicesImage {
  flex-basis: 50%;
}

.servicesTextContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesImage {
  background-image: url('../../../public/images/serviceEmpl.png');
  background-repeat: no-repeat;
}

.numbersList {
  flex-wrap: wrap;
  display: flex;
}

.servicesImgDecor {
  display: none;
}

.numbersListItem {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  color: var(--light-blue-sec);
}

.numbersListItem:nth-child(2n) {
  padding-top: 50px;
  margin-bottom: 15px;
}

.numbersListNum {
  font-family: var(--font-three);
  font-weight: 400;
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
}

.numbersListText {
  max-width: 180px;
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.servicesCardsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1200px) {
  .servicesContent {
    flex-direction: column;
  }

  .numbersListItem:nth-child(2n) {
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .servicesTextContent {
    gap: 30px;
  }

  .numbersList {
    gap: 32px;
  }

  .numbersListItem {
    flex-basis: 40%;
  }
}

@media (max-width: 680px) {
  .numbersListNum {
    font-size: 50px;
    line-height: 100%;
  }

  .numbersListText {
    max-width: 100%;
    font-size: 14px;
    line-height: 140%;
  }

  .numbersListItem {
    flex-basis: 100%;
  }

  .servicesImage {
    flex-basis: auto;
    height: 350px;
    background-size: cover;
  }

  .servicesImgDecor {
    height: 22px;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .servicesContent {
    gap: 0;
  }

  .servicesTextContent {
    margin-bottom: 32px;
  }

  .servicesCardsList {
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .servicesImage {
    height: 214px;
  }

  .servicesImgDecor {
    height: 18px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-bottom: 5px;
  }
}
