.scheduleList {
  background-color: var(--white);
  padding: 50px 250px;
  min-height: 500px;
}

.loader img {
  display: block;
  margin: 0 auto;
}

.error p {
  font-family: var(--font-one);
  text-align: center;
  font-weight: 600;
  color: rgb(218, 22, 22);
  font-size: 22px;
}

.tableHeadingTitle {
  max-width: 250px;
  width: 100%;
  padding-left: 30px;
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #3792ff;
}

.tableHead {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tableTextRow {
  display: flex;
  justify-content: center;
}

.text {
  max-width: 250px;
  width: 100%;
  padding: 30px;
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--main-blue);
  border-bottom: 1px solid #cfcfcf;
}

@media (max-width: 1350px) {
  .scheduleList {
    padding: 50px 150px 20px;
  }
}

@media (max-width: 1024px) {
  .scheduleList {
    padding: 50px 50px 20px;
  }
}

@media (max-width: 800px) {
  .scheduleList {
    padding: 30px 5px 20px;
    overflow-x: scroll;
  }
}

@media (max-width: 680px) {
  .scheduleList {
    padding: 0;
    overflow: scroll;
    background-color: inherit;
    min-height: 240px;
  }

  .skeleton {
    height: 40px !important;
    margin-bottom: 15px !important;
  }

  .tableHead {
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  .tableTextRow {
    justify-content: flex-start;
  }

  .text {
    padding: 20px 10px 20px 0px;
    min-width: 100px;
    font-size: 12px;
    line-height: 120%;
  }

  .tableHeadingTitle {
    min-width: 100px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 120%;
    padding-left: 0;
  }
}
