@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope/Manrope.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway/Raleway.ttf') format('truetype');
}

@font-face {
  font-family: 'Orchidea Pro';
  src: url('../public/fonts/OrchideaPro/OrchideaPro-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Orchidea Pro';
  src: url('../public/fonts/OrchideaPro/OrchideaPro-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Orchidea Pro';
  src: url('../public/fonts/OrchideaPro/OrchideaPro-Bold.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Actay Wide';
  src: url('../public/fonts/Actay/Actay.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'HakusyuGyosyo';
  src: url('../public/fonts/HakusyuGyosyo/HakusyuGyosyo.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter.ttf') format('truetype');
}
