@import './reset.scss';
@import './variables.scss';
@import './fonts.scss';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  color: var(--main-blue);
  font-family: var(--font-one);
  background-color: var(--lightest-blue);
}

.main {
  padding-top: 220px;
  animation: fadeInRightShorter 1s;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 130px;
  padding: 0 20px;
}

@media (max-width: 1100px) {
  .container {
    margin-bottom: 100px;
  }
}

@media (max-width: 1040px) {
  .main {
    padding-top: 180px;
  }
}

@media (max-width: 800px) {
  .main {
    padding-top: 150px;
  }
}

@media (max-width: 680px) {
  .container {
    margin-bottom: 80px;
  }
}

@keyframes fadeInRightShorter {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
