@import './reset.scss';
@import './variables.scss';
@import './fonts.scss';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  color: var(--main-blue);
  font-family: var(--font-one);
  background-color: var(--lightest-blue);
}

.main {
  padding-top: 240px;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 130px;
  padding: 0 20px;
}
