:root {
  /* COLORS */
  --lightest-blue: #f2f6fe;
  --white: #fff;
  --middle-blue: #164194;
  --black: #000;
  --green: #1bb3aa;
  --grey: #888;
  --light-grey: #d9d9d9;
  --light-blue: #2675d3;
  --main-blue: #091e48;
  --bg: #f2f6fe;

  /* FONTS */
  --font-one: 'Raleway', sans-serif;
  --font-two: 'Manrope', sans-serif;
  --font-three: 'Orchidea Pro', sans-serif;
  --font-four: 'Actay Wide', sans-serif;
  --font-five: 'AoyagiKouzanFont2', sans-serif;
  --font-six: 'Inter', sans-serif;
}
