:root {
  /* COLORS */
  --lightest-blue: #f2f6fe;
  --white: #fff;
  --middle-blue: #164194;
  --black: #000;
  --green: #1bb3aa;
  --grey: #888;
  --light-grey: #d9d9d9;
  --light-blue: #2675d3;
  --light-blue-sec: #3792ff;
  --main-blue: #091e48;
  --bg: #f2f6fe;

  /* FONTS */
  --font-one: 'Raleway', sans-serif;
  --font-two: 'Manrope', sans-serif;
  --font-three: 'Orchidea Pro', sans-serif;
  --font-four: 'Actay Wide', sans-serif;
  --font-five: 'HakusyuGyosyo', sans-serif;
  --font-six: 'Inter', sans-serif;

  // SKELETON
  --skeleton-color: #3791ff7a;
  --skeleton-shadow: #8585854f;
}
